{% extends "base.html" %}

{% load tagging_tags %}

{% block title %}{% block header %}{{ title }}{% endblock %}{% endblock %}

{% block content %}
{% for author in authors.object_list %}
<div class="mheader {% cycle "odd" "even" %}">
    <div class="mtitle"><a href="{{ author.get_absolute_url }}">{% if author.user.get_full_name %}{{ author.user.get_full_name }} ({{ author.user.username }}){% else %}{{ author.user.username }}{% endif %}</a></div>
    <span class="mtags">Interests: {% tags_for_object author as atags %}{% ifnotequal atags.count 0 %}{% for tag in atags %}<a href="/interest/{{ tag.name|urlencode }}/">{{ tag.name }}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}{% endifnotequal %}</span>
    <hr />
    <span class="preview">{{ author.bio|striptags|truncatewords:200 }}</span>
</div>
{% empty %}
<div class="warning">No authors to list</div>
{% endfor %}

{% ifnotequal authors.number authors.paginator.num_pages %}
<div class="pagination">
    <strong>Page:</strong><br />
    {% ifnotequal authors.number 1 %}{% ifnotequal authors.number 2 %}<a href="?page=1">1</a> ... {% endifnotequal %}{% endifnotequal %}
    {% if authors.has_previous %}
    <a href="?page={{ authors.previous_page_number }}">{{ authors.previous_page_number }}</a>
    {% endif %}

    <strong>{{ authors.number }}</strong>

    {% if authors.has_next %}
    <a href="?page={{ authors.next_page_number }}">{{ authors.next_page_number }}</a>
    {% endif %}
    {% ifnotequal authors.paginator.num_pages authors.number %}{% ifnotequal authors.number authors.paginator.num_pages|add:"-1" %} ... <a href="?page={{ authors.paginator.num_pages }}">{{ authors.paginator.num_pages }}</a>{% endifnotequal %}{% endifnotequal %}
</div>
{% endifnotequal %}
{% endblock %}
